.gambar {
	padding: 15px;
	margin: 15px;
	border: 1px solid blue;
}

#kiri {
	border: 3px solid green;
}
.deskripsi {
	padding: 10px;
	margin: 10px;
	border: 1px solid blue;
}
.komentar { 
	background : rgb(100,100,100);
	border : 1px black solid;
	margin : 10px;
	padding : 3px;
}

.gambar {
	height: 240px;
}
#komen {
	margin : 10px;
}
.asd {
	margin : 10px;
}